{
    "chmod": "0755",
    "directories": [
        "src"
    ],
    "files": [
        "LICENSE",
        "./vendor/guzzlehttp/guzzle/src/cacert.pem",
        "./vendor/herrera-io/phar-update/res/schema.json"
    ],
    "finder": [
        {
            "name": "*.php",
            "exclude": ["Tests", "tests"],
            "in": "vendor"
        }
    ],
    "git-version": "package_version",
    "main": "bin/openl10n",
    "output": "openl10n.phar",
    "stub": true
}
