{
    "chmod": "0755",
    "directories": [
        "src"
    ],
    "files": [
        "LICENSE",
        "vendor/guzzle/guzzle/src/Guzzle/Http/Resources/cacert.pem",
        "vendor/guzzle/guzzle/src/Guzzle/Http/Resources/cacert.pem.md5"
    ],
    "finder": [
        {
            "name": "*.php",
            "exclude": ["Tests", "tests"],
            "in": "vendor"
        }
    ],
    "git-version": "package_version",
    "main": "bin/openl10n",
    "output": "openl10n.phar",
    "stub": true
}
